{#
/**
 * @file
 * Theme override for SAHO search result fields.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 * - search_result_image: URL to the content's image or placeholder.
 * - search_result_image_alt: Alt text for the image.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{# Unified card structure using saho-card classes #}
<a href="{{ search_result_url }}" class="saho-card-link saho-card-link--search">
  <div class="saho-card saho-card--search">
    {# Image section using unified card image class #}
    <div class="saho-card-image">
      <img src="{{ search_result_image }}" alt="{{ search_result_image_alt }}" class="saho-card-image__img" loading="lazy">

      {# Type badge using unified badge position #}
      {% if fields.type is defined and not fields.type.empty %}
        <div class="saho-card-badge saho-card-badge--search">
          {{ fields.type.content|striptags }}
        </div>
      {% endif %}
    </div>

    {# Content section using unified card content class #}
    <div class="saho-card-content">
      {# Title using unified card title class #}
      {% if fields.title is defined and not fields.title.empty %}
        <h3 class="saho-card-title">
          {{ fields.title.content|striptags }}
        </h3>
      {% endif %}

      {# Excerpt/snippet using unified card description class #}
      {% if fields.search_api_excerpt is defined and not fields.search_api_excerpt.empty %}
        <div class="saho-card-description saho-card-description--search">
          {{ fields.search_api_excerpt.content|striptags }}
        </div>
      {% elseif fields.body is defined and not fields.body.empty %}
        <div class="saho-card-description saho-card-description--search">
          {{ fields.body.content|striptags }}
        </div>
      {% endif %}

      {# Read more button using unified card footer #}
      <div class="saho-card-footer">
        <span class="saho-card-button">
          Read more
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </span>
      </div>
    </div>
  </div>
</a>
