{#
/**
 * @file
 * Theme override for SAHO search results (unformatted rows).
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="search-results">
  {% if title %}
    <h3 class="search-results-title">{{ title }}</h3>
  {% endif %}
  <div class="item-list">
    {% for row in rows %}
      {% if row.attributes is defined %}
        {% if row.attributes.addClass is defined %}
          <article{{ row.attributes.addClass('search-result', 'clearfix') }}>
            {{ row.content }}
          </article>
        {% else %}
          {# Handle case where attributes is an object without addClass method #}
          <article class="search-result clearfix">
            {{ row.content }}
          </article>
        {% endif %}
      {% else %}
        <article class="search-result clearfix">
          {{ row.content }}
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>