{#
/**
 * @file
 * Theme implementation for SAHO search view.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}

{# Search view specific styling classes #}
{% set section_color = 'saho-deep-heritage-red' %}
{% set section_bg_class = 'saho-bg-deep-heritage-red' %}
{% set section_border_class = 'saho-border-deep-heritage-red' %}
{% set section_text_class = 'saho-text-deep-heritage-red' %}

<div{{ attributes.addClass('saho-view', 'saho-search-view') }}>
  <div class="container py-4">
    {# Display view title if provided #}
    {% if title %}
      {{ title_prefix }}
      <h1 class="saho-search-page-title {{ section_text_class }}">{{ title }}</h1>
      {{ title_suffix }}
    {% endif %}

    {# Header section #}
    {% if header %}
      <div class="saho-view-header mb-4">
        {{ header }}
      </div>
    {% endif %}

    {# Content before main view #}
    {% if attachment_before %}
      <div class="saho-view-attachment-before mb-4">
        {{ attachment_before }}
      </div>
    {% endif %}
    
    {# Main view content section with mobile-first approach #}
    <div class="row">
      {# Sidebar with filters - with mobile-first design #}
      {# On mobile, display sidebar below content (order-2) #}
      {# On tablet and desktop, display sidebar on left (order-md-1) #}
      <div class="col-12 col-md-4 col-lg-3 order-2 order-md-1 mb-4">
        <div class="saho-sidebar-filters p-3 bg-light rounded shadow-sm">
          <h3 class="h5 {{ section_text_class }} mb-3 border-bottom pb-2">Filter Results</h3>
          
          {# Fulltext search box at the top of filters #}
          {% if exposed %}
            <div class="saho-view-exposed mb-4">
              {{ exposed }}
            </div>
          {% endif %}
          
          {# Facet region #}
          <div class="saho-view-facets">
            {# Facet blocks will be placed here by Drupal block layout #}
          </div>
        </div>
      </div>
      
      {# Main content area - On mobile, display content first (order-1) #}
      {# On tablet and desktop, display content on right (order-md-2) #}
      <div class="col-12 col-md-8 col-lg-9 order-1 order-md-2">
        <div class="saho-search-results-wrapper">
          {# Search results counter #}
          <div class="saho-search-counter mb-3">
            {% if rows %}
              <div class="results-count">
                {{ view.total_rows }} result{% if view.total_rows != 1 %}s{% endif %} found for "{{ view.exposed_raw_input.search_api_fulltext }}"
              </div>
            {% endif %}
          </div>
          
          {# Main results area #}
          {% if rows %}
            <div class="saho-search-results">
              {{ rows }}
            </div>
          {% elseif empty %}
            <div class="saho-view-empty p-4 shadow-sm">
              <div class="empty-search-icon mb-3 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="{{ section_color }}" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </div>
              <h3 class="h4 mb-3 text-center {{ section_text_class }}">No results found</h3>
              <p class="text-center mb-4">Your search did not match any documents.</p>
              
              <div class="empty-search-suggestions p-3 bg-light rounded border">
                <h4 class="h6 mb-2 {{ section_text_class }}">Suggestions:</h4>
                <ul class="mb-0">
                  <li>Check your spelling</li>
                  <li>Try different or more general keywords</li>
                  <li>Remove filters that might be limiting results</li>
                  <li>Try browsing categories instead of searching</li>
                </ul>
              </div>
              
              {{ empty }}
            </div>
          {% endif %}

          {# Pager #}
          {% if pager %}
            <div class="saho-search-pager mt-4">
              {{ pager }}
            </div>
          {% endif %}

          {# More link #}
          {% if more %}
            <div class="saho-view-more mt-4 text-center">
              <a href="{{ more.url }}" class="btn {{ section_bg_class }} text-white">{{ more.text }}</a>
            </div>
          {% endif %}

          {# Feed icons #}
          {% if feed_icons %}
            <div class="saho-view-feed-icons mt-4">
              {{ feed_icons }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {# Content after main view #}
    {% if attachment_after %}
      <div class="saho-view-attachment-after mt-4">
        {{ attachment_after }}
      </div>
    {% endif %}

    {# Footer section #}
    {% if footer %}
      <div class="saho-view-footer mt-4">
        {{ footer }}
      </div>
    {% endif %}
  </div>
</div>