{#
/**
 * @file
 * Template for the TDIH Events display.
 *
 * Available variables:
 * - all_events: An array of filtered event node data (already filtered by date).
 * - target_date: The target date (MM-DD format).
 * - attributes: An array of HTML attributes for the container.
 */
#}

<div{{ attributes.addClass('tdih-events-wrapper') }}>
  {% if all_events %}
    <div class="tdih-events-list">
      {% for item in all_events|slice(0, 10) %}
        <div class="tdih-event-item">
          {% if item.image %}
            <div class="tdih-event-image">
              <img src="{{ item.image }}" alt="{{ item.title|striptags }}" />
            </div>
          {% endif %}
          
          <div class="tdih-event-content">
            <div class="tdih-event-date">
              {{ item.event_date|date('j F Y') }}
            </div>
            
            <h4 class="tdih-event-title">
              <a href="{{ item.url }}">{{ item.title|striptags }}</a>
            </h4>
            
            {% if item.body %}
              <div class="tdih-event-body">
                {{ item.body|raw|striptags('<p><a><em><strong><ul><ol><li><img><div><span><br><h1><h2><h3><h4><h5><h6>')|truncate(200, true, '...') }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="tdih-no-events">
      <p>{{ 'No events found for this date.'|t }}</p>
    </div>
  {% endif %}
</div>
