{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - navbar_container_type: false | sm | md | lg | xl | xxl | fluid
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - navbar_expand: sm | md | lg | xl | false
 * - navbar_theme: dark | light (default: light)
 * - navbar_utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - branding: Site logo and name
 * - left: Main navigation menu (typically)
 * - right: Secondary elements like search, user menu
 */
#}
{% apply spaceless %}

{# Create default attributes if not provided #}
{% set nav_attributes = nav_attributes ?: create_attribute() %}
{% set navbar_container_attributes = navbar_container_attributes ?: create_attribute() %}

{# Generate unique IDs for accessibility and targeting #}
{% set navbar_id = navbar_id ?: ('navbar-' ~ random()) %}
{% set collapse_id = 'navbar-collapse-' ~ random() %}

{# Set defaults for configuration options #}
{% set placement = placement ?? '' %}
{% set navbar_expand = navbar_expand ?? 'lg' %}
{% set navbar_theme = navbar_theme ?? null %}

{# Build container classes #}
{%
  set navbar_container_classes = [
    navbar_container_type is null ? 'container' : '',
    navbar_container_type ? 'container' ~ (navbar_container_type ? '-' ~ navbar_container_type : '') : '',
  ]|merge(navbar_container_utility_classes ?: [])
%}

{# Build navbar classes #}
{%
  set nav_classes = [
    'navbar',
    placement ? placement : '',
    navbar_expand ? 'navbar-expand-' ~ navbar_expand : '',
  ]|merge(navbar_utility_classes ?: [])
%}

{# Add theme attribute for Bootstrap 5 theming #}
{% if navbar_theme %}
  {% set nav_attributes = nav_attributes.setAttribute('data-bs-theme', navbar_theme) %}
{% endif %}

<nav {{ nav_attributes.addClass(nav_classes).setAttribute('id', navbar_id) }}>
  <div {{ navbar_container_attributes.addClass(navbar_container_classes) }}>
    {# Branding region (logo, site name) #}
    {% block branding %}
      {{ branding }}
    {% endblock %}

    {# Collapsible content - force display for better visibility #}
    <div class="collapse navbar-collapse" id="{{ collapse_id }}" style="display: block !important;">
      {# Left region (typically main navigation) #}
      {% block left %}
        {{ left }}
      {% endblock %}

      {# Right region (typically search, user menu, etc.) #}
      {% block right %}
        {{ right }}
      {% endblock %}
    </div>
  </div>
</nav>

{% endapply %}