{#
/**
 * @file SAHO Archive card SDC.
 * props: type, title, href, excerpt, dates, meta, image, image_alt, duotone, hide_badge
 */
#}
{% set type = type|default('article') %}
<a{{ attributes.addClass(['saho-acard', 'saho-acard--' ~ type]) }} href="{{ href|default('#') }}">
  {% if image %}
    <div class="saho-acard__media">
      <img class="saho-acard__img{{ duotone ? ' saho-duotone' : '' }}" src="{{ image }}" alt="{{ image_alt|default('') }}" loading="lazy" onerror="this.closest('.saho-acard__media').classList.add('is-broken')" />
      {% if not hide_badge %}
        <span class="saho-acard__badge">
          {% include 'saho:badge' with { type: type, label: badge_label|default(''), on_image: true } only %}
        </span>
      {% endif %}
    </div>
  {% endif %}
  <div class="saho-acard__body">
    {% if not image and not hide_badge %}
      <div class="saho-acard__badge-inline">{% include 'saho:badge' with { type: type, label: badge_label|default('') } only %}</div>
    {% endif %}
    {% if dates %}<p class="saho-acard__dates saho-meta">{{ dates }}</p>{% endif %}
    <h3 class="saho-acard__title">{{ title }}</h3>
    {% if excerpt %}<p class="saho-acard__excerpt">{{ excerpt }}</p>{% endif %}
    {% if meta %}<p class="saho-acard__meta saho-meta">{{ meta }}</p>{% endif %}
  </div>
</a>
