{#
/**
 * @file
 * Theme override to display a field.
 *
 * Required for fields that loop over `items` where each item includes
 * an `attributes` object (from core or preprocess).
 */
#}

{% if label_hidden %}
  <div{{ attributes.addClass('field', 'field--name-' ~ field_name|clean_class, 'field--type-' ~ field_type|clean_class, 'field--label-hidden') }}>
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
{% else %}
  <div{{ attributes.addClass('field', 'field--name-' ~ field_name|clean_class, 'field--type-' ~ field_type|clean_class) }}>
    <div{{ title_attributes.addClass('field__label') }}>
      {{ label }}
    </div>
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
{% endif %}
