{#
/**
 * @file
 * Comments as a collapsed disclosure (R3 #477).
 *
 * Reader contributions are part of SAHO's public-history mission but
 * they are NOT part of the record surface: the thread and form sit
 * behind a ruled mono disclosure at the record foot, collapsed by
 * default, with a standfirst stating their status.
 *
 * comment_count is provided by saho_preprocess_field__comment().
 */
#}
<details{{ attributes.addClass('saho-contribute') }}>
  <summary class="saho-contribute__summary">
    <span class="saho-contribute__label">{{ 'Contribute to this record'|t }}</span>
    <span class="saho-contribute__count">
      {%- if comment_count == 1 -%}
        {{ '1 comment'|t }}
      {%- else -%}
        {{ '@count comments'|t({'@count': comment_count|default(0)}) }}
      {%- endif -%}
    </span>
  </summary>
  <div class="saho-contribute__body">
    <p class="saho-contribute__standfirst">
      {{ 'Comments are reader contributions. They are not part of the archival record.'|t }}
    </p>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>
</details>
