{#
/**
 * @file
 * Cancelled page shown when donor cancels at PayFast.
 */
#}

<div class="saho-donate-message container py-5 text-center">
  <h2>{{ 'Donation Cancelled'|t }}</h2>
  <p>
    {{ 'No payment was taken. You can'|t }}
    <a href="{{ path('saho_donate.form') }}">{{ 'try again'|t }}</a>
    {{ 'or'|t }}
    <a href="/">{{ 'return to SAHO'|t }}</a>.
  </p>
</div>
